@media screen and (min-width: 481px){

	@font-face {
		font-family: 'Yu Gothic cus';
		src: url(font/YuGothM_min.ttf);
		font-weight: 500;
	}

	@font-face {
		font-family: 'Yu Gothic cusb';
		src: url(font/YuGothB_min.ttf);
		font-weight: 800;
	}

	@font-face {
		font-family: 'Source Han Sans JP cus';
		src: url(font/SourceHanSans-Medium_min.otf);
		font-weight: 500;
	}

  .reflect{
    position:absolute;
    bottom:0px;
    right:1px;
    z-index: 3;
  }
  b{
  font: normal normal bold 24px/32px Yu Gothic cusb;
  }

  input {
  -webkit-appearance: none;
  border-radius: 0;
  }

  #first_text_final{
  display:block;
  }
  #second_text_final{
  display:none;
  }
  #third_text_final{
  display:none;
  }
  #forth_text_final{
  display:none;
  }
  #fifth_text_final{
  display:none;
  }
  #goals{
  }
  #blnc{
  }
  #secret{
  display:none;
	color:blue;
  }
  #first_ans{
    width: 300px;
    height: 35px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align:center;
  font: normal normal bold 30px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
		font-weight: 500;
  }

  .secret_background{
    position:relative;
    width:1200px;
  margin: 0 auto;
  }
  .confirm_btn{
    text-align:center;
  font: normal normal bold 30px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #9D9D9D;
    position:absolute;
   top:70px;
   left:110px;
	 	font-weight: 500;
  }

  button{
          background-color: transparent;
          border: none;
          cursor: pointer;
          outline: none;
          padding: 0;
          appearance: none;
  }

  .tag_btn{
    text-align:center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  text-align: center;
  font: normal normal bold 30px/30px Source Han Sans JP cus;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  width: 130px;
  height: 40px;
  border-radius: 12px;
  opacity: 1;
  }

  .tag_btn:active{
    opacity: 0.7;
  }

  .btn_first{background: #A6EF48 0% 0% no-repeat padding-box;
  position:absolute;
  left:85px;}

  .btn_second{background: #53F890 0% 0% no-repeat padding-box;
    position:absolute;
    left:285px;}

  .btn_third{background: #3FC6E3 0% 0% no-repeat padding-box;
    position:absolute;
    left:485px;}

  .btn_forth{background: #565EFE 0% 0% no-repeat padding-box;
    position:absolute;
    left:685px;}

  .btn_fifth{background: #D463F9 0% 0% no-repeat padding-box;
    position:absolute;
    left:885px;}

  .text_box{
    position:absolute;
    top:80px;
    left:50px;
    text-align: left;
  font: normal normal bold 20px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
  opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 10px solid #A6EF48;
  border-radius: 30px;
  opacity: 1;
  width: 626px;
  height: 585px;
  display:table;
  }

  .text_box div{
    display:table-cell;
    vertical-align:middle;
  }

  .background_big{
    position:relative;
    width: 1200px;
  height: 800px;
    background: #504E4E 0% 0% no-repeat padding-box;
  border-radius: 41px;
  opacity: 1;
  }

  .background_small{
    position:absolute;
    top:50px;
    right:50px;
    width: 1100px;
  height: 700px;
    background: #D6F5F2 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  }

  .tag_list{
    position:relative;
    padding-top:20px;
  }
  .goal{
    position:relative;
    top:-90px;
    left:300px;
    width: 600px;
  height: 45px;
    text-align: left;
  font: normal normal bold 20px/28px Source Han Sans JP cus;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
    background: #4C5BE2B3 0% 0% no-repeat padding-box;
  opacity: 1;
  }

  .goal p{
    padding-top:7px;
    text-align: center;
    vertical-align: middle;
  }

  .leg{
    position:relative;
    left:550px;
    width: 100px;
  height: 30px;
  background: #504E4E 0% 0% no-repeat padding-box;
  }

  .standing{
    position:relative;
      left:350px;
    width: 500px;
  height: 50px;
  border-radius: 30px 30px 15px 15px;
  background: #504E4E 0% 0% no-repeat padding-box;
  }

  .screen_element{
    float:left;
  }

  .text_only{
    padding-left:10px;
  }

  .input_blanc{
    position:relative;
    top:300px;
    left:730px;
  }

  .veil{
    width:1200px;
    height:880px;;
    position:absolute;
    top:0;
    left:0;
    background: rgba(255,255,255, 0.3);
    z-index:1;
    visibility:hidden;
  }

  .phone_size{
    margin:30px auto;
    position:relative;
    width:500px;
    height:800px;
    background: #504E4E 0% 0% no-repeat padding-box;
    opacity:1;
    border-radius: 35px;
  }

  .phone_screen{
    position:absolute;
    top:60px;
    left:50px;
    width:400px;
    height:620px;
    background: #D6F5F2 0% 0% no-repeat padding-box;
  }

  .phone_screen p{
    font-size: 17px;
      position: relative;
      top: 20px;
      left: 55px;
      color: #675555;
      font-family: 'Source Han Sans JP cus';
  }
  .damy_switch{
    width:60px;
    height:60px;
    background-color:white;
    border-radius:100%;
    position:absolute;
    top:710px;
    left:220px;
  }

  .pic{
    position:relative;
    top:30px;
    left:5px;
  }

  #fusion_word{
    width: 240px;
    height: 30px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align:center;
  font: normal normal bold 20px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
  border-radius:10px;
  position:relative;
  top:50px;
  left:40px;
  }

  .fusion_btn{
    text-align:center;
  font: normal normal bold 20px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #9D9D9D;
    position:relative;
    top:50px;
    left:50px;
  }

  .cancel{
    width:40px;
    position:absolute;
    left:520px;
    top:0px;
  }

  #go_fusionbtn{
    width: 330px;
  height: 77px;
  background: #9F8282 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 25px/30px Source Han Sans JP cus;
  letter-spacing: 0px;
  color: #FFFFFF;
  border:0px;
  position:relative;
  top:-70px;
  left:-10px;
  }

  #forth_ans1{
    width: 300px;
    height: 35px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align:center;
  font: normal normal bold 30px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
  position:absolute;
  top:60px;
  left:0px;
  }

  #forth_ans2{
    width: 300px;
    height: 35px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align:center;
  font: normal normal bold 30px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
  position:absolute;
  top:120px;
  left:0px;
  }

  .forth_check_btn{
    text-align:center;
  font: normal normal bold 30px/32px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #9D9D9D;
    position:absolute;
   top:180px;
   left:110px;
   z-index:30;
  }
  .conn{
    position:relative;
    left:30px;
  }
  #connection{
    position:absolute;
    top:0px;
    border:0px;
    left:0px;
    width:240px;
    height:70px;
    background:#9A9C49 0% 0% no-repeat padding-box;
    border-radius:32px;
    text-align:center;
    font:normal normal bold 40px/58px Source Han Sans JP cus;
    letter-spacing: 0px;
      color: #fff;
      opacity: 1;
      box-shadow: 0px 0px 0px 0px #fff, inset 0 0 30px 0 #ffd900;
  }
  .conn1{
    content: '';
        position: absolute;
        width: 120px;
        height: 70px;
        border-radius: 32px 0px 0px 32px;
        box-shadow: 0px 0px 0px 0px #fff, inset 0 0 30px 0 #9a9c49;

  }
  .conn2{
    content: '';
        position: absolute;
        left:120px;
        width: 120px;
        height: 70px;
        border-radius: 0px 32px 32px 0px;
        box-shadow: 0px 0px 0px 0px #fff, inset 0 0 30px 0 #9a9c49;

  }

}

@media screen and (max-width: 480px) {
	@font-face {
		font-family: 'Yu Gothic cus';
		src: url(font/YuGothM_min.ttf);
		font-weight: 500;
	}

	@font-face {
		font-family: 'Yu Gothic cusb';
		src: url(font/YuGothB_min.ttf);
		font-weight: 800;
	}

	@font-face {
		font-family: 'Source Han Sans JP cus';
		src: url(font/SourceHanSans-Medium_min.otf);
		font-weight: 500;
	}

.reflect{
	display:none;
}
body,html{
	font-weight: 500;
	width: 400px;
	max-width: 100%;
	height:730px;
	margin:0 auto;
}
	body{
	box-sizing: border-box;
margin:     0;
}
  b{
  font: normal normal bold 14px/20px Yu Gothic cusb;
	font-weight: 800;
  }

  input {
  -webkit-appearance: none;
  border-radius: 0;
  }

  #first_text_final{
  display:block;
  }
  #second_text_final{
  display:none;
  }
  #third_text_final{
  display:none;
  }
  #forth_text_final{
  display:none;
  }
  #fifth_text_final{
  display:none;
  }
  #goals{
  }
  #blnc{
  }
  #secret{
  display:none;
	color:red;
  }
  #first_ans{
    width: 200px;
    height: 20px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align:center;
  font: normal normal bold 14px/20px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
	background-color: #FFFFFF;
  }

  .secret_background{
    position:relative;
    width:400px;
		height:730px;
  margin: 0 auto;
  }
  .confirm_btn{
    text-align:center;
  font: normal normal bold 14px/20px Yu Gothic cus;
  letter-spacing: 0px;
  color: #675555;
	background-color:#FFFFFF;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #9D9D9D;
    position:relative;
   top:0px;
   left:0px;
  }

  button{
          background-color: transparent;
          border: none;
          cursor: pointer;
          outline: none;
          padding: 0;
          appearance: none;
  }

  .tag_btn{
		text-align:center;
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		padding: 0;
		appearance: none;
font: normal normal bold 20px/29px Source Han Sans JP cus;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
width: 78px;
height: 37px;
border-radius: 13px;
  opacity: 1;
  }

  .tag_btn:active{
    opacity: 0.7;
  }

  .btn_first{background: #A6EF48 0% 0% no-repeat padding-box;
  position:absolute;
  left:27px;}

  .btn_second{background: #53F890 0% 0% no-repeat padding-box;
    position:absolute;
    left:132px;}

  .btn_third{background: #3FC6E3 0% 0% no-repeat padding-box;
    position:absolute;
    left:237px;}

  .btn_forth{background: #565EFE 0% 0% no-repeat padding-box;
    position:absolute;
		top:52px;
    left:27px;}

  .btn_fifth{background: #D463F9 0% 0% no-repeat padding-box;
    position:absolute;
		top:52px;
    left:132px;}

  .text_box{
    position:absolute;
    top:100px;
    left:5px;
		text-align: left;
		font: normal normal bold 12px/20px Yu Gothic cus;
		letter-spacing: 0px;
  color: #675555;
  display:table;
	width: 330px;
height: 404px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 5px solid #A6EF48;
border-radius: 17px;
opacity: 1;
  }

  .text_box div{
    display:table-cell;
    vertical-align:middle;
  }

  .background_big{
    position:relative;
		width: 400px;
		height: 680px;
		background: #504E4E 0% 0% no-repeat padding-box;
		border-radius: 30px;
		opacity: 1;
  }

  .background_small{
    position:absolute;
    top:25px;
    left:25px;
		width: 350px;
		height: 590px;
		background: #D6F5F2 0% 0% no-repeat padding-box;
		border: 1px solid #707070;
		opacity: 1;
  }

  .tag_list{
    position:relative;
    padding-top:10px;
  }
  .goal{
    position:relative;
    top:-50px;
    left:23px;
    width: 355px;
		height: 34px;
		background: #4C5BE2B3 0% 0% no-repeat padding-box;
		opacity: 1;
		text-align: left;
		font: normal normal bold 15px/21px Source Han Sans JP cus;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
  }

  .goal p{
    padding-top:7px;
    text-align: center;
    vertical-align: middle;
			font-weight: 500;
  }

  .leg{
    position:relative;
    top:-55px;
		left:179px;
    width: 42px;
  height: 42px;
	border-radius: 100%;
  background: #707070 0% 0% no-repeat padding-box;
  }

  .standing{
		display:none;
    position:relative;
      left:350px;
    width: 500px;
  height: 50px;
  border-radius: 30px 30px 15px 15px;
  background: #504E4E 0% 0% no-repeat padding-box;
  }

  .screen_element{
    float:left;
  }

  .text_only{
    padding-left:10px;
  }

  .input_blanc{
    position:relative;
    top:525px;
    left:40px;
  }

  .veil{
		width:400px;
    height:730px;
    position:absolute;
    top:0;
    left:0;
    background: rgba(255,255,255, 0.3);
    z-index:1;
    visibility:hidden;
  }

  .phone_size{
    margin:20px auto;
    position:relative;
    width:360px;
    height:600px;
    background: #504E4E 0% 0% no-repeat padding-box;
    opacity:1;
    border-radius: 35px;
  }

  .phone_screen{
    position:absolute;
    top:30px;
    left:30px;
    width:300px;
    height:540px;
    background: #D6F5F2 0% 0% no-repeat padding-box;
  }

  .phone_screen p{
		font-size: 17px;
    position: relative;
    top: 35px;
    left: 40px;
    color: #675555;
    font-family: 'Source Han Sans JP cus';
  }
  .damy_switch{
		display:none;
    width:60px;
    height:60px;
    background-color:white;
    border-radius:100%;
    position:absolute;
    top:710px;
    left:220px;
  }

  .pic{
    position:relative;
    top:50px;
    left:25px;
		width:250px;
  }

  #fusion_word{
		width: 240px;
    height: 30px;
    border-radius: 0px;
    border: 2px solid #9D9D9D;
    text-align: center;
    font: normal normal bold 15px/17px Yu Gothic cus;
    letter-spacing: 0px;
    color: #675555;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 25px;
		background-color:#FFFFFF;
  }

  .fusion_btn{
		text-align: center;
		    font: normal normal bold 14px/20px Yu Gothic cus;
		    letter-spacing: 0px;
		    color: #675555;
		    background-color: #FFFFFF;
		    width: 60px;
		    height: 30px;
		    border-radius: 5px;
		    border: 2px solid #9D9D9D;
    position: relative;
    top: 120px;
    left: 120px;
  }

  .cancel{
		width: 40px;
    position: absolute;
    left: 160px;
    top: 608px;
  }

  #go_fusionbtn{
		padding:0px;
		margin:0px;
		width: 110px;
		height: 36px;
  background: #9F8282 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: center;
	font: normal normal bold 10px/15px Source Han Sans JP cus;
  letter-spacing: 0px;
  color: #FFFFFF;
  border:0px;
  position:relative;
  top:-480px;
  left:180px;
  }

  #forth_ans1{
		width: 200px;
		height: 20px;
		border-radius: 0px;
		border: 2px solid #9D9D9D;
		text-align:center;
		font: normal normal bold 14px/20px Yu Gothic cus;
		letter-spacing: 0px;
		color: #675555;
		background-color: #FFFFFF;
  position:absolute;
  top:-10px;
  left:0px;
  }

  #forth_ans2{
		width: 200px;
		height: 20px;
		border-radius: 0px;
		border: 2px solid #9D9D9D;
		text-align:center;
		font: normal normal bold 14px/20px Yu Gothic cus;
		letter-spacing: 0px;
		color: #675555;
		background-color: #FFFFFF;
  position:absolute;
  top:17px;
  left:0px;
  }

  .forth_check_btn{
		text-align:center;
	font: normal normal bold 14px/20px Yu Gothic cus;
	letter-spacing: 0px;
	color: #675555;
	background-color:#FFFFFF;
		width: 60px;
		height: 30px;
		border-radius: 5px;
		border: 2px solid #9D9D9D;
		position:relative;
	 top:0px;
	 left:110px;
  }
  .conn{
    position:relative;
    left:30px;
  }
  #connection{
		position: absolute;
	    top: -48px;
	    border: 0px;
	    left: 35px;
	    width: 150px;
	    height: 58px;
	    background: #9A9C49 0% 0% no-repeat padding-box;
	    border-radius: 32px;
	    opacity: 1;
	    text-align: center;
	    font: normal normal bold 25px/30px Source Han Sans JP cus;
	    letter-spacing: 0px;
	    color: #fff;
	    opacity: 1;
	    box-shadow: 0px 0px 0px 0px #fff, inset 0 0 10px 0 #ffd900;
  }
  .conn1{
		top: -48px;
		    left: 35px;
		    content: '';
		    position: absolute;
		    width: 75px;
		    height: 58px;
		    border-radius: 32px 0px 0px 32px;
		    box-shadow: 0px 0px 0px 0px #fff, inset 0 0 10px 0 #9a9c49;

  }
  .conn2{
		top: -48px;
    left: 45px;
    content: '';
    position: absolute;
    left: 110px;
    width: 75px;
    height: 58px;
    border-radius: 0px 32px 32px 0px;
    box-shadow: 0px 0px 0px 0px #fff, inset 0 0 10px 0 #9a9c49;

  }

}
