
#first_text_final{
display:block;
}
#second_text_final{
display:none;
}
#third_text_final{
display:none;
}
#forth_text_final{
display:none;
}
#fifth_text_final{
display:none;
}
#goals{
}
#blnc{
}
#secret{
display:none;
}
